    <h4>Author List</h4>
    <% @active_sources.each do |source| %>
      <div class="row">
        <div class="span1">
          <% if source.twitter? %>
            <%= image_tag 'https://api.twitter.com/1/users/profile_image?screen_name='+source.twitter+'&size=normal',:align => 'left', :class => 'img-circle' %>
          <% end %>
        </div>
        <div class="span2">
          <b><%= link_to source.author, '/profile/'+source.slug %></b><br /><br />
          <a href="https://twitter.com/<%= source.twitter %>" class="twitter-follow-button" data-show-count="false">Follow @<%= source.twitter %></a>
        </div>
      </div>
      <hr />
    <% end %>
