<div class="row">
  <div class="span12">
    <hr />
    <p>
      <small><em>legal mumbo jumbo:<br /><%= link_to 'Lean Startup','http://theleanstartup.com/', :target => '_blank'  %> is a registered trademark of <%= link_to 'Eric Ries','http://www.startuplessonslearned.com/', :target => '_blank'  %>.<br />
        We maintain no affiliation with <%= link_to 'Clarity.fm','http://clarity.fm', :target => '_blank'  %> or <%= link_to 'Twitter','http://twitter.com', :target => '_blank'  %>, but encourage the use of good tools when we see them.</em></small>
      </p>
    </div>
  </div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
