// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight_true {
  border-bottom: solid 2px #CCCCCC;
  padding-top: 3px;
  padding-bottom: 3px;
}
